<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.name %>
</p>

<p>
  <b>Name:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Surname:</b>
  <%= @user.surname %>
</p>

<p>
  <b>Nickname:</b>
  <%= @user.nickname %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.sex %>
</p>

<p>
  <b>Age:</b>
  <%= @user.age %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>E-Mail:</b>
  <%= @user.email %>
</p>

<p>
  <b>Tel.:</b>
  <%= @user.tel %>
</p>

<p>
  <b>Hashed password:</b>
  <%= @user.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
