<h1 align="center">User Information</h1>


<p id="notice"><%= notice %></p>

<p>
  <b style="color:#f4a460;">Username:</b>
   <b style="color:#ffdead;"><%= @user.name %>  </b>
</p>

<p>
  <b style="color:#f4a460;">Role:</b>
  <b style="color:#ffdead;"><%= @user.role%>     </b>
</p>

<p>
  <b style="color:#f4a460;">Name:</b>
  <b style="color:#ffdead;"><%= @user.firstname %>  </b>
</p>

<p>
  <b style="color:#f4a460;">Surname:</b>
  <b style="color:#ffdead;"><%= @user.surname %>    </b>
</p>

<p>
  <b style="color:#f4a460;">Nickname:</b>
  <b style="color:#ffdead;"><%= @user.nickname %>   </b>
</p>

<p>
  <b style="color:#f4a460;">Gender:</b>
  <b style="color:#ffdead;"><%= @user.sex %>       </b>
</p>

<p>
  <b style="color:#f4a460;">Age:</b>
  <b style="color:#ffdead;"><%= @user.age %>     </b>
</p>

<p>
  <b style="color:#f4a460;">Address:</b>
  <b style="color:#ffdead;"><%= @user.address %>   </b>
</p>

<p>
  <b style="color:#f4a460;">E-Mail:</b>
  <b style="color:#ffdead;"><%= @user.email %>     </b>
</p>

<p>
  <b style="color:#f4a460;">Tel.:</b>
  <b style="color:#ffdead;"><%= @user.tel %>      </b>
</p>

<p>
  <b style="color:#f4a460;">Hashed password:</b>
  <b style="color:#ffdead;"><%= @user.hashed_password %>   </b>
</p>

<p>
  <b style="color:#f4a460;">Salt:</b>
  <b style="color:#ffdead;"><%= @user.salt %>      </b>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
