<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Guarantee
Description: A two-column, fixed-width design for 1024x768 screen resolutions.
Version    : 1.0
Released   : 20091101

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>The Bliss Patong</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

  <meta name="keywords" content=""/>
  <meta name="description" content=""/>

</head>
<body>
<% if User.find_by_id(session[:user_id]) != nil %>

    <div id="logo">
      <h1><a href="#">The Bliss Patong </a></h1>

      <p><em>South Patong Beach</em></p>
    </div>
    <hr/>
    <!-- end #logo -->
    <div id="header">
      <div id="menu">
        <ul>
          <li><%= link_to "Home" , :controller => :dashboard, :action => :index %></li>

          <% if can? :read, RoomStatus %>
          <li><%= link_to "Management", :controller => :room_statuses, :action => :index %></li>
          <% end %>
          <% if can? :read, Guestmessage %>
          <li><%= link_to "Guest Message", :controller => :guestmessages, :action => :index %></li>
          <% end %>
          <% if can? :read, Dailyhouse %>
          <li><%= link_to "Daily Housekeeping", :controller => :dailyhouses, :action => :index%></li>
          <% end %>
          <li><%= link_to "Account", :controller => :users, :action => :index%></li>
          <li><%= link_to "Logout", :controller => :dashboard, :action => :logout %></li>

        </ul>
      </div>
      <!-- end #menu -->


      <!-- end #search -->
    </div>
    <!-- end #header -->
    <!-- end #header-wrapper -->
    <div id="page">
      <div id="content">
        <%= yield %>
      </div>
    </div>

<% else %>
        <%= yield %>

<% end %>
</body>
</html>
