<%= form_for(@room_status) do |f| %>
  <% if @room_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room_status.errors.count, "error") %> prohibited this room_status from being saved:</h2>

      <ul>
      <% @room_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @cur_user.role == "manager" %>
  <div class="field">
    <%= f.label :"Room Number" %><br />
    <%= f.text_field :roomnum %>
  </div>
  <% end %>
  <% if @cur_user.role == "manager" %>
  <div class="field">
    <%= f.label :"Room Name" %><br />
    <%= f.select :roomname, RoomStatus::ROOMNAME %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :"Room Status" %><br />
    <%= f.collection_select :roomstatus, RoomStatus::STATUS, :to_s, :humanize %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
