
<h1>Listing room_statuses</h1>

<table>
  <tr>
    <th>Roomnum</th>
    <th><dd>Roomname</dd></th>
    <th><dd>Roomstatus</dd></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @room_statuses.each do |room_status| %>
  <tr>
    <td><%= room_status.roomnum %></td>
    <td><%= room_status.roomname %></td>
    <td><%= room_status.roomstatus %></td>
    <td><%= link_to 'Show', room_status %></td>
    <td><%= link_to 'Edit', edit_room_status_path(room_status) %></td>
    <td><%= link_to 'Destroy', room_status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Room status', new_room_status_path %>
