<h1 align="center">Room Information</h1>


<p id="notice"><%= notice %></p>

<p>
  <tr></tr>
  <b style="color:#f4a460;">Room Number :</b>
  <b style="color:#ffdead;"><%= @room_status.roomnum %>   </b>
</p>

<p>
  <b style="color:#f4a460;">Room Name :</b>
  <b style="color:#ffdead;"><%= @room_status.roomname %>    </b>
</p>

<p>
  <b style="color:#f4a460;">Room status :</b>
  <b style="color:#ffdead;"><%= @room_status.roomstatus %>   </b>
</p>


<%= link_to 'Edit', edit_room_status_path(@room_status) %> |
<%= link_to 'Back', room_statuses_path %>
