<p id="notice"><%= notice %></p>

<p>
  <b>Room Number :</b>
  <%= @room_status.roomnum %>
</p>

<p>
  <b>Room Name :</b>
  <%= @room_status.roomname %>
</p>

<p>
  <b>Room status :</b>
  <%= @room_status.roomstatus %>
</p>


<%= link_to 'Edit', edit_room_status_path(@room_status) %> |
<%= link_to 'Back', room_statuses_path %>
